# Gradle
.gradle/
build/
**/build/

# Kotlin
.kotlin/

# Local configuration
local.properties

# IntelliJ / Android Studio
.idea/
*.iml
.intellijPlatform/

# Android
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
output-metadata.json

# Signing
*.jks
*.keystore

# Google Services
google-services.json

# Logs / Profiling
*.log
*.hprof

# macOS
.DS_Store
**/.DS_Store